<%= render 'aid_applications/navigation' %>
<% if @aid_application.submitted? %>
  <div class="grid__item width-two-thirds shift-one-sixth">
    <div class="form-card">
      <header class="form-card__header">
        <h1><%= t('.title') %></h1>
      </header>

      <div class="form-card__content">
        <h2><%= t('.app_number_header') %></h2>
        <p><%= t('.app_number_desc') %></p>

        <h3 class="notice text--centered">
          <%= @aid_application.application_number %>
        </h3>
      </div>
    </div>
  </div>
<% else %>
  <p><%= t('.app_not_submitted') %></p>
<% end %>
