<%
  form_resource = resource
  form_options = {
    as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put },
  }
%>

<% content = lambda do |f| %>
  <%= f.cfa_input_field :email, "Email Address", classes: ["form-width--long"] %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.cfa_input_field(:current_password, "Current password", type: "password", classes: ["form-width--med"]) %>
  <%= f.cfa_input_field(:password, "New password", type: "password", classes: ["form-width--med"], help_text: "This should be at least #{@minimum_password_length} characters.") %>
  <%= f.cfa_input_field(:password_confirmation, "Confirm new password", type: "password", classes: ["form-width--med"]) %>
<% end %>

<% footer = lambda do |f| %>
  <%= f.cfa_button "Update account" %>
<% end %>

<%= render 'shared/form_card',
           form_resource: form_resource,
           form_options: form_options,
           title: "Update account",
           content: content,
           footer: footer
%>
