<%= render 'admin/tab_navigation' %>

<div class="grid__item width-one-whole">
  <div class="data-table-container">
    <table class="data-table js-sticky-header">
      <thead>
      <tr>
        <th>ID</th>
        <th>Slug</th>
        <th>Name</th>
        <th>Submission Instructions</th>
      </tr>
      </thead>
      <tbody>
      <% @organizations.each do |organization| %>
        <tr id="<%= dom_id(organization) %>">
          <td><%= organization.id %></td>
          <td><%= organization.slug %></td>
          <td><%= link_to organization.name, organization_dashboard_path(organization) %></td>
          <td>
            <%
              messages = organization.county_names.each_with_object({}) do |county, obj|
                message = organization.submission_instructions(application_number: "APP-#{organization.id}-XXX-XXX", county: county, locale: I18n.locale)
                (obj[message] ||= []) << county
              end

              messages.each do |message, counties|
            %>
              <p><strong><%= counties.join(', ') %>:</strong> <%= message %></p>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
