<p>
  <strong>Application Number</strong>: <%= current_aid_application.application_number ? current_aid_application.application_number : 'Unassigned' %>
  <span class="label"><%= current_aid_application.status_human %></span>
</p>

<div id="application-navigation" class="tab-bar">
  <%= link_to edit_organization_aid_application_eligibility_path(current_organization, current_aid_application), class: "tab-bar__tab #{ current_path?(edit_organization_aid_application_eligibility_path(current_organization, current_aid_application)) ? 'is-selected' : '' }" do %>
    1. Eligibility <span class="icon-arrow_forward"></span>
  <% end %>
  <%= link_to edit_organization_aid_application_applicant_path(current_organization, current_aid_application), class: "tab-bar__tab #{ current_path?(edit_organization_aid_application_applicant_path(current_organization, current_aid_application)) ? 'is-selected' : '' }" do %>
    2. Applicant <span class="icon-arrow_forward"></span>
  <% end %>

  <%= link_to organization_aid_application_verification_path(current_organization, current_aid_application), class: "tab-bar__tab #{ current_path?(organization_aid_application_verification_path(current_organization, current_aid_application)) ? 'is-selected' : '' }" do %>
    3. Verify <span class="icon-arrow_forward"></span>
  <% end %>

  <%= link_to organization_aid_application_approval_path(current_organization, current_aid_application), class: "tab-bar__tab #{ current_path?(organization_aid_application_approval_path(current_organization, current_aid_application)) ? 'is-selected' : '' }" do %>
    3. Approve <span class="icon-arrow_forward"></span>
  <% end %>

  <% disbursement_tab_active = current_path?(organization_aid_application_disbursement_path(current_organization, current_aid_application)) || current_path?(organization_aid_application_finished_path(current_organization, current_aid_application)) %>
  <%= link_to organization_aid_application_disbursement_path(current_organization, current_aid_application), class: "tab-bar__tab #{ disbursement_tab_active ? 'is-selected' : '' }" do %>
    4. Disburse
  <% end %>
</div>

<br>
