<div class="toolbar">
  <div class="toolbar__left">
    <p>
      <strong>Application Number</strong>: <%= current_aid_application.application_number ? current_aid_application.application_number : 'Unassigned' %>
      <span class="label"><%= current_aid_application.status_human %></span>
    </p>
  </div>

  <div class="toolbar__right">
    <%= form_with(method: "get") do |f| %>
        <% locales = [
            [t('aid_applications.applicants.edit.language.languages.english'), :en],
            [t('aid_applications.applicants.edit.language.languages.spanish'), :es],
            [t('aid_applications.applicants.edit.language.languages.koren'), :ko],
            [t('aid_applications.applicants.edit.language.languages.tagalog'), :tl],
            [t('aid_applications.applicants.edit.language.languages.vietnamese'), :vi],
            [t('aid_applications.applicants.edit.language.languages.arabic'), :ar]
        ] %>
        <%= f.select :new_locale, locales, { selected: I18n.locale }, { onchange: 'this.form.submit();' } %>
    <% end %>
  </div>
</div>

<div id="application-navigation" class="tab-bar">
  <%= link_to edit_organization_aid_application_eligibility_path(current_organization, current_aid_application), class: "tab-bar__tab #{ current_path?(edit_organization_aid_application_eligibility_path(current_organization, current_aid_application)) ? 'is-selected' : '' }" do %>
    1. Eligibility
  <% end %>

  <% enable_application_tab = current_aid_application.eligible? || current_aid_application.submitted? %>
  <% on_application_tab =
         current_path?(edit_organization_aid_application_applicant_path(current_organization, current_aid_application)) ||
             current_path?(organization_aid_application_confirmation_path(current_organization, current_aid_application)) %>
  <% application_tab_link = current_aid_application.submitted? ?  organization_aid_application_confirmation_path(current_organization, current_aid_application) : edit_organization_aid_application_applicant_path(current_organization, current_aid_application) %>
  <%= link_to application_tab_link, class: "tab-bar__tab #{ on_application_tab ? 'is-selected' : '' } #{enable_application_tab ? '' : 'disabled'}" do %>
    2. Application
  <% end %>

  <% enable_verify_tab = current_aid_application.submitted? && supervisor_visible? %>
  <%= link_to organization_aid_application_verification_path(current_organization, current_aid_application), class: "tab-bar__tab #{ current_path?(organization_aid_application_verification_path(current_organization, current_aid_application)) ? 'is-selected' : '' } #{enable_verify_tab ? '' : 'disabled'}" do %>
    3. Verify
  <% end %>

  <% enable_determination_tab = current_aid_application.submitted? && supervisor_visible? %>
  <%= link_to organization_aid_application_approval_path(current_organization, current_aid_application), class: "tab-bar__tab #{ current_path?(organization_aid_application_approval_path(current_organization, current_aid_application)) ? 'is-selected' : '' } #{enable_determination_tab ? '' : 'disabled'}" do %>
    4. Determination
  <% end %>

  <% enable_disburse_tab = current_aid_application.approved? && supervisor_visible? %>
  <% disbursement_tab_selected = current_path?(organization_aid_application_disbursement_path(current_organization, current_aid_application)) || current_path?(organization_aid_application_finished_path(current_organization, current_aid_application)) %>
  <%= link_to organization_aid_application_disbursement_path(current_organization, current_aid_application), class: "tab-bar__tab #{ disbursement_tab_selected ? 'is-selected' : '' }  #{enable_disburse_tab ? '' : 'disabled'}" do %>
    5. Disburse
  <% end %>
</div>
<br>
