<%= render 'shared/tab_navigation' %>

<% if current_organization %>
  <div class="grid__item width-one-whole">
    <%= button_to organization_aid_applications_path(current_organization), method: :post, class: 'button button--primary' do %>
      <span class="icon icon-add" aria-hidden="true"></span> <%= t('.add_app') %>
    <% end %>
  </div>
<% end %>

<div class="grid__item">
  <%= render 'shared/search_bar', placeholder: t('.search_apps') %>
</div>

<div class="grid__item width-one-whole">
  <div class="data-table-container">
    <table class="data-table js-sticky-header">
      <thead>
      <tr>
        <th><%= t('.id') %></th>
        <th><%= t('.status') %></th>
        <th><%= t('.app_number') %></th>
        <% if current_organization.blank? %>
          <th><%= t('.org') %></th>
        <% end %>
        <th><%= t('.members') %></th>
        <th><%= t('.assister') %></th>
        <th><%= t('.action') %></th>
      </tr>
      </thead>
      <tbody>
      <% @aid_applications.each do |aid_application| %>
        <tr id="<%= dom_id(aid_application) %>">
          <td><%= aid_application.id %></td>
          <td><%= aid_application.status_human %></td>
          <td><%= aid_application.application_number %></td>
          <td><%= aid_application.member_names.join(', ') %></td>
          <% if current_organization.blank? %>
            <td><%= link_to(aid_application.organization.name, organization_path(aid_application.organization)) %></td>
          <% end %>
          <td><%= (aid_application.submitter || aid_application.creator).name %></td>
          <td><%= link_to 'Update-Verify-Disburse', edit_organization_aid_application_edit_path(aid_application.organization, aid_application) %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
