<%= render 'shared/tab_navigation' %>

<% if current_organization %>
  <div class="grid">
    <div class="grid__item width-one-fourth">
      <div class="statistic-card">
        <p class="statistic-card__label">Submitted Apps</p>
        <p class="statistic-card__number">
          <%= current_organization.submitted_aid_applications_count %>
        </p>
      </div>
    </div>
    <div class="grid__item width-one-fourth">
      <div class="statistic-card">
        <p class="statistic-card__label">Approved Apps</p>
        <p class="statistic-card__number">
          XXX
        </p>
      </div>
    </div>
    <div class="grid__item width-one-fourth">
      <div class="statistic-card">
        <p class="statistic-card__label">Disbursed Apps</p>
        <p class="statistic-card__number">
          XXX
        </p>
      </div>
    </div>
    <div class="grid__item width-one-fourth">
      <div class="statistic-card">
        <p class="statistic-card__label">Remaining Cards</p>
        <p class="statistic-card__number">
          <%= current_organization.total_payment_cards_count - current_organization.submitted_aid_applications_count %>
          <small><%= current_organization.total_payment_cards_count %> Total</small>
        </p>
      </div>
    </div>
  </div>
<% end %>  
  


<div class="grid__item">
  <%= render 'shared/search_bar', placeholder: t('.search_apps') %>
  <br>
</div>

<div class="grid__item width-one-whole">
  <div class="data-table-container">
    <table class="data-table js-sticky-header">
      <thead>
      <tr>
        <th><%= t('.id') %></th>
        <th><%= t('.status') %></th>
        <th><%= t('.app_number') %></th>
        <% if current_organization.blank? %>
          <th><%= t('.org') %></th>
        <% end %>
        <th><%= t('.members') %></th>
        <th><%= t('.assister') %></th>
        <th><%= t('.action') %></th>
      </tr>
      </thead>
      <tbody>
      <% @aid_applications.each do |aid_application| %>
        <tr id="<%= dom_id(aid_application) %>">
          <td><%= aid_application.id %></td>
          <td><%= aid_application.status_human %></td>
          <td><%= aid_application.application_number %></td>
          <td><%= aid_application.name %></td>
          <% if current_organization.blank? %>
            <td><%= link_to(aid_application.organization.name, organization_path(aid_application.organization)) %></td>
          <% end %>
          <td><%= (aid_application.submitter || aid_application.creator).name %></td>
          <td><%= link_to 'Update-Verify-Disburse', edit_organization_aid_application_eligibility_path(aid_application.organization, aid_application) %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
