<div class="<%= local_assigns[:header_class] %>">
  <header class="main-header">
    <div class="toolbar">
      <div class="toolbar__left">
        <div class="main-header__title">
          <%= link_to "DRAI Portal", root_path, class: "main-header__no-logo" %>
        </div>
      </div>
      <div class="toolbar__right">
        <% if current_user.present? %>
          <% if current_user.organization.present? %>
            <%= link_to current_user.organization.name, organization_path(current_user.organization), class: 'toolbar__item text--small' %>
          <% else %>
            <%= link_to 'Admin', organizations_path, class: 'toolbar__item text--small' %>
          <% end %>
          <%= link_to 'Account', account_path, class: 'toolbar__item text--small' %>
          <%= link_to "Sign out", destroy_user_session_path, class: "toolbar__item text--small" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "toolbar__item text--small" %>
        <% end %>
      </div>
    </div>
  </header>
</div>
