<%= render 'aid_applications/navigation' %>

<div class="grid__item width-two-thirds shift-one-sixth" <%=raw I18n.locale == :ar ? 'dir="rtl"' : '' %>>
  <div class="form-card">
    <header class="form-card__header">
      <h2><%= t('.title') %></h2>
    </header>
    <div class="form-card__content">
      <p><%= t('.body') %></p>
    </div>
    <div class="data-table-container">
      <table class="data-table js-sticky-header">
        <thead>
        <tr>
          <th>Name</th>
          <th>DOB</th>
          <th>Address</th>
          <th>Phone number</th>
          <th>Date submitted</th>
          <th>Worker</th>
          <th>CBO</th>
          <th>Case status</th>
        </tr>
        </thead>
        <tbody>
        <% @aid_applications.each do |aid_application| %>
          <tr id="<%= dom_id(aid_application) %>">
            <td><%= aid_application.name %></td>
            <td><%= aid_application.birthday %>
            <td><%= aid_application.street_address %></td>
            <td><%= aid_application.phone_number %></td>
            <td><%= aid_application.phone_number %></td>
            <td><%= aid_application.phone_number %></td>
            <td><%= aid_application.phone_number %></td>
            <td><%= aid_application.phone_number %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="form-card__footer">
      <div class="toolbar">
        <div class="toolbar__left">
          <%
            go_back_path = if verify_step?
                             edit_organization_aid_application_verification_path(current_organization, current_aid_application)
                           else
                             edit_organization_aid_application_applicant_path(current_organization, current_aid_application)
                           end
          %>
          <%= link_to go_back_path, class: 'button button--primary' do %>
            <span class="icon icon-arrow_back" aria-hidden="true"></span> <%= t('general.go_back') %>
          <% end %>
        </div>
        <div class="toolbar__right">
          <%= button_to t('general.delete_this_application'),
                        organization_aid_application_path(current_organization, current_aid_application),
                        method: :delete,
                        class: "button button--danger",
                        data: { confirm: "Are you sure you want to delete this application?" } %>
        </div>
      </div>
    </div>
  </div>
</div>
