<div class="data-table-container">
  <table class="data-table js-sticky-header">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% users.each do |user| %>
      <tr id="<%= dom_id(user) %>">
        <td><%= user.id %></td>
        <td>
          <%= user.name %>
          <% if user.supervisor? %>
            <span class="label ">Supervisor</span>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.status_human %></td>
        <td><%= yield(user) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
