<%= render 'organizations/tab_navigation' %>

<div class="grid__item width-one-whole">
  <%= link_to new_organization_assister_path(current_organization), class: 'button button--primary' do %>
    <span class="icon icon-add" aria-hidden="true"></span> Add new assister
  <% end %>
</div>

<div id="assisters" class="grid__item width-one-whole">
  <%= render 'table', users: @users do |user| %>
    <%= link_to "Edit", edit_organization_assister_path(user.organization, user) %>
    <% if user != current_user %>
      <%= button_to deactivate_organization_assister_path(user.organization, user), method: :delete, data: { confirm: "Are you sure you want to deactivate #{user.name} (#{user.email})?" }, class: 'button--link' do %>
        Deactivate
      <% end %>
      <% if user.confirmed_at.present? %>
        <%= button_to send_password_reset_instructions_organization_assister_path(user.organization, user), method: :post, data: { confirm: "Are you sure you want to send a password reset for #{user.name} (#{user.email})?" }, class: 'button--link' do %>
          Send Password Reset
        <% end %>
      <% else %>
        <%= button_to resend_confirmation_instructions_organization_assister_path(user.organization, user), method: :post, data: { confirm: "Are you sure you want to resend confirmation instructions for #{user.name} (#{user.email})?" }, class: 'button--link' do %>
          Resend Confirmation Instructions
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @deactivated_users.load.any? %>
  <div id="deactivated-assisters" class="grid__item width-one-whole spacing-above-95">
    <h2>Deactivated workers</h2>
    <%= render 'table', users: @deactivated_users do |user| %>
      <%= link_to "Edit", edit_organization_assister_path(user.organization, user) %>
      <% if user != current_user %>
        <%= button_to reactivate_organization_assister_path(user.organization, user), method: :post, data: { confirm: "Are you sure you want to reactivate #{user.name} (#{user.email})?" }, class: 'button--link' do %>
          Reactivate
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
