<%= render 'shared/tab_navigation' %>

<div class="grid__item width-one-whole">
  <% if supervisor? %>
    <%= link_to current_organization ? new_organization_assister_path(current_organization) : new_assister_path, class: 'button button--primary' do %>
      <span class="icon icon-add" aria-hidden="true"></span> Add new assister
    <% end %>
  <% end %>
</div>

<div id="assisters" class="grid__item width-one-whole">
  <%= render 'table', assisters: @assisters do |assister| %>
    <% if assister.organization %>
      <%= link_to "Edit", edit_organization_assister_path(assister.organization, assister) %>
    <% else %>
      <%= link_to "Edit", edit_assister_path(assister) %>
    <% end %>

    <% if current_user != assister %>
      <%= button_to organization_assister_path(assister.organization, assister), method: :delete, data: { confirm: "Are you sure you want to deactivate #{assister.name} (#{assister.email})?" }, class: 'button--link' do %>
        Deactivate
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @deactivated_assisters.any? %>
  <div id="deactivated-assisters" class="grid__item width-one-whole spacing-above-95">
    <h2>Deactivated Assisters</h2>
    <%= render 'table', assisters: @deactivated_assisters do |assister| %>
      <% if assister.organization %>
        <%= link_to "Edit", edit_organization_assister_path(assister.organization, assister) %>
      <% else %>
        <%= link_to "Edit", edit_assister_path(assister) %>
      <% end %>
    <% end %>
  </div>
<% end %>
