<%= render 'shared/tab_navigation' %>

<div class="grid__item width-one-whole">
  <%= link_to current_organization ? new_organization_assister_path(current_organization) : new_assister_path, class: 'button button--primary' do %>
    <span class="icon icon-add" aria-hidden="true"></span> Add new user
  <% end %>
</div>

<div class="grid__item width-one-whole">
  <div class="data-table-container">
    <table class="data-table js-sticky-header">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <% unless current_organization %>
            <th>Org</th>
          <% end %>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @assisters.each do |assister| %>
          <tr id="<%= dom_id(assister) %>">
            <td><%= assister.id %></td>
            <td><%= assister.name %></td>
            <% unless current_organization %>
              <td><%= assister.organization ? link_to(assister.organization.name, organization_path(assister.organization)) : nil %></td>
            <% end %>
            <td><%= assister.email %></td>
            <td><%= assister.status_human %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
