<%= render 'organizations/tab_navigation' %>

<% if params[:page].blank? %>
  <h1 class="spacing-above-25">Disaster Relief Assistance for Immigrants</h1>
  <div class="grid">
    <div class="grid__item width-one-third">
      <%= button_to organization_aid_applications_path(current_organization), method: :post, class: 'button button--primary' do %>
        <span class="icon icon-add" aria-hidden="true"></span> <%= t('aid_applications.index.add_app') %>
      <% end %>
    </div>
    <div class="grid__item width-two-thirds">
      <% if current_organization.no_cards? %>
        <p class="notice notice--error">
          You have zero remaining cards. Applications can no longer be accepted.
        </p>
      <% elsif current_organization.using_waitlist? %>
        <p class="notice notice--error">
          Any new applications will be put on a waitlist. All cards are currently committed. Applications will only move off the waitlist as previously submitted applications are rejected or paused.
        </p>
      <% elsif current_organization.low_on_cards? %>
        <p class="notice notice--warning">
          You are running low on remaining cards. Once all of the cards are committed, new applications will be added to a waitlist.
        </p>
      <% end %>
    </div>
  </div>

  <h2 class="spacing-above-25">Dashboard</h2>

  <div class="grid">
    <div class="grid__item width-one-third">
      <div class="statistic-card statistics-uncommitted <% if current_organization.low_on_cards? || current_organization.using_waitlist? || current_organization.no_cards? %>statistics-card__warning<% end %>">
        <p class="statistic-card__label">Uncommitted Cards<br></p>
        <p class="statistic-card__number">
          <%= number_with_delimiter(current_organization.total_payment_cards_count - current_organization.committed_aid_applications_count, locale: :en) %>
          <small style="font-size: 14px;"> / <%= number_with_delimiter(current_organization.total_payment_cards_count, locale: :en) %></small>
        </p>
      </div>
    </div>

    <div class="grid__item width-one-third">
      <div class="statistic-card statistics-committed">
        <p class="statistic-card__label">Committed Cards <br>(Submitted + Approved)</p>
        <p class="statistic-card__number">
          <%= number_with_delimiter(current_organization.committed_aid_applications_count - current_organization.disbursed_aid_applications_count, locale: :en) %>
          <small style="font-size: 14px">&nbsp;</small>
        </p>
      </div>
    </div>

    <div class="grid__item width-one-third">
      <div class="statistic-card statistics-disbursed">
        <p class="statistic-card__label">Disbursed Cards<br>&nbsp;</p>
        <p class="statistic-card__number">
          <%= current_organization.disbursed_aid_applications_count %>
          <small style="font-size: 14px;">&nbsp;</small>
        </p>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item width-one-third">
      <div class="statistic-card statistics-submitted">
        <p class="statistic-card__label">Submitted pending Approval</p>
        <p class="statistic-card__number">
          <%= number_with_delimiter(current_organization.submitted_aid_applications_count, locale: :en) %>
        </p>
      </div>
    </div>
    <div class="grid__item width-one-third">
      <div class="statistic-card statistics-approved">
        <p class="statistic-card__label">Approved pending Disbursement</p>
        <p class="statistic-card__number">
          <%= number_with_delimiter(current_organization.approved_aid_applications_count, locale: :en) %>
        </p>
      </div>
    </div>

    <div class="grid__item width-one-third">
      <div class="statistic-card statistics-paused">
        <p class="statistic-card__label">Paused</p>
        <p class="statistic-card__number">
          <%= number_with_delimiter(current_organization.paused_aid_applications_count, locale: :en) %>
        </p>
      </div>
    </div>

    <% if current_organization.waitlisted_aid_applications_count > 0 %>
      <div class="grid">
        <div class="grid__item width-one-third">
          <div class="statistic-card statistics-submitted">
            <p class="statistic-card__label">Waitlisted</p>
            <p class="statistic-card__number">
              <%= number_with_delimiter(current_organization.waitlisted_aid_applications_count, locale: :en) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="grid">
    <% if current_organization.counts_by_county.size > 1 %>
      <div class="grid__item width-one-whole">
        <div class="statistic-card">
          <div>
            <table class="data-table">
              <thead>
              <tr>
                <th>County</th>
                <th>Submitted</th>
                <th>Approved</th>
                <th>Disbursed</th>
                <th><strong>Total committed</strong></th>
                <th>Paused</th>
                <th>Waitlisted</th>
              </tr>
              </thead>
              <tbody>
              <% current_organization.counts_by_county.each do |county, counts| %>
                <tr id="<%="#{county}-#{county.length}"%>" class="<%= county == 'Total' ? 'tr-total' : '' %>">
                  <td><%= county %></td>
                  <td><%= counts[:submitted] %></td>
                  <td><%= counts[:approved] %></td>
                  <td><%= counts[:disbursed] %></td>
                  <td><strong><%= counts[:total] %></strong></td>
                  <td><%= counts[:paused] %></td>
                  <td><%= counts[:waitlisted] %></td>
                </tr>
              <% end %>
              </tbody>
              <tfoot>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="grid">
  <h2 class="spacing-above-25">Applications</h2>

  <div class="grid__item">
    <%= render 'shared/searchbar', placeholder: 'Search applications' %>
  </div>

  <% if params[:page].present? %>
    <%= paginate @aid_applications %>
  <% end %>

  <div class="grid__item width-one-whole">
    <div class="data-table-container">
      <table class="data-table js-sticky-header">
        <thead>
        <tr>
          <th>Application Number</th>
          <th>Date Submitted</th>
          <th>Applicant</th>
          <th>Assister</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% @aid_applications.each do |aid_application| %>
          <tr id="<%= dom_id(aid_application) %>">
            <td><%= link_to aid_application.application_number, organization_aid_application_path(aid_application.organization, aid_application) %></td>
            <td><%= aid_application.submitted_at.to_s(:month_day_year) %></td>
            <td><%= aid_application.name %></td>
            <td><%= (aid_application.submitter || aid_application.creator).name %></td>
            <td><%= aid_application.status_human %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= paginate @aid_applications %>
</div>
