<%= render 'aid_applications/navigation' %>

<div class="grid__item width-two-thirds shift-one-sixth" <%= raw I18n.locale == :ar ? 'dir="rtl"' : '' %>>
  <% if @aid_application.paused? %>
    <div class="form-card">
      <div class="notice notice--warning spacing-below-60">
        This application is paused. The client did not submit their verification documents within the 12 business day window.
        Restarting the application will reset the 12 day clock.
      </div>
      <% if supervisor_visible? %>
        <div class="form-card__footer">
          <%= button_to({ action: 'unpause' }, method: :put, class: 'button button--primary') { "Restart application" } %>
        </div>
      <% else %>
        <p>Only supervisors can unpause applications.</p>
      <% end %>
    </div>
  <% end %>

  <div class="form-card">
    <% if verify_page? %>
      <header class="form-card__header">
        <h1>Verify</h1>
      </header>
    <% else %>
      <header class="form-card__header">
        <h1><%= t('general.drai_application') %></h1>
      </header>
    <% end %>

    <% if Rails.env.demo? || ActiveModel::Type::Boolean.new.cast(ENV['DEMO_MODE']) %>
      <div class="notice notice--error">
        This site is for demonstration purposes only.
        Do not enter any personal information!
        If you need to submit an application go to
        <strong><%= link_to 'ca-drai.org', 'https://www.ca-drai.org' %></strong>.
      </div>
    <% end %>

    <% form_url = params[:verify] ? organization_aid_application_verification_path(current_organization, @aid_application) : organization_aid_application_applicant_path(current_organization, @aid_application) %>
    <%= form_for(@aid_application, url: form_url, builder: DafiFormBuilder, html: { novalidate: 'novalidate' }) do |f| %>
      <div class="form-card__content">

        <h2><%= t('.applicant_information.title') %></h2>
        <%= f.cfa_input_field :name, t('.applicant_information.name') %>

        <%= f.gcf_date_input :birthday, t('.applicant_information.dob'), help_text: 'MM/DD/YYYY' %>
        <fieldset>
          <legend class="spacing-below-15"><em><%= t('.contact_information.optional_questions_prompt') %></em></legend>
          <%= f.cfa_select :preferred_language, t('.applicant_information.preferred_language'), AidApplication::PREFERRED_LANGUAGE_OPTIONS %>
          <%= f.cfa_select :country_of_origin, t('.applicant_information.country_of_origin'), AidApplication::COUNTRY_OF_ORIGIN_OPTIONS %>
          <%= f.cfa_select :sexual_orientation, t('.applicant_information.sexual_orientation'), AidApplication::SEXUAL_ORIENTATION_OPTIONS %>
          <%= f.cfa_select :gender, t('.applicant_information.gender'), AidApplication::GENDER_OPTIONS %>
          <%= f.gcf_collection_check_boxes :racial_ethnic_identity, t('.applicant_information.racial_ethnic_identity'), AidApplication::RACIAL_OR_ETHNIC_IDENTITY_OPTIONS %>
        </fieldset>

        <hr>

        <div class="address" id="address">
          <h2><%= t('.california_address.title') %></h2>
          <p class="text--help"><%= t('.california_address.address_required') %></p>
          <%= f.cfa_input_field :street_address, t('.shared_address.street_address') %>
          <%= f.cfa_input_field :apartment_number, t('.shared_address.apartment_number') %>
          <%= f.cfa_input_field :city, t('.shared_address.city') %>
          <%= f.cfa_input_field :zip_code, t('.shared_address.zip'), classes: ["form-width--zip"] %>
          <%= render 'aid_applications/county_name', f: f, aid_application: @aid_application %>

          <% unless @aid_application.allow_mailing_address? %>
            <%= f.button type: 'submit', name: 'form_action', value: 'allow_mailing_address', class: 'button button--secondary' do %>
              <span class="icon icon-add" aria-hidden="true"></span> <%= t('.mailing_address.add_mailing_address') %>
            <% end %>
          <% end %>
        </div>
        <hr>

        <% if @aid_application.allow_mailing_address? %>
          <div class="mailing-address" id="mailing-address">
            <h2><%= t('.mailing_address.title') %></h2>
            <%= f.hidden_field :allow_mailing_address %>

            <%= f.cfa_input_field :mailing_street_address, t('.shared_address.street_address') %>
            <%= f.cfa_input_field :mailing_apartment_number, t('.shared_address.apartment_number') %>
            <%= f.cfa_input_field :mailing_city, t('.shared_address.city') %>
            <%= f.cfa_input_field :mailing_state, t('.shared_address.state') %>
            <%= f.cfa_input_field :mailing_zip_code, t('.shared_address.zip'), classes: ["form-width--zip"] %>

            <%= f.button t('.mailing_address.remove_mailing_address'),
                         type: 'submit', name: 'form_action', value: 'remove_mailing_address',
                         class: 'button button--danger',
                         data: { confirm: "Are you sure you want to remove the mailing address?" } %>
            <hr>
          </div>
        <% end %>

        <h2><%= t('.contact_information.title') %></h2>

        <fieldset>
          <legend class="form-question">
            <%= t('.contact_information.preferred_contact_label') %>
          </legend>

          <p class="text--body"><%= t('.contact_information.body') %></p>

          <div class="question-with-follow-up">
            <div class="question-with-follow-up__question associated-field-to-disable">
              <%= f.cfa_checkbox(:sms_consent, t('.contact_information.preferred_contact_text'), options: { 'data-follow-up' => '#preferred-contact-channel__text' }) %>
            </div>
            <%= f.cfa_checkbox(:email_consent, t('.contact_information.preferred_contact_email')) %>

            <div id="preferred-contact-channel__text" class="question-with-follow-up__follow-up spacing-above-25">
              <p><em><%= t('.contact_information.read_to_client') %></em></p>
              <p><%= t('.contact_information.message_rates_apply') %></p>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group group-of-mixed-fields">
            <%= f.cfa_input_field(:phone_number, t('general.phone_number'), options: { type: 'tel', inputmode: 'tel' }, classes: ['spacing-below-0']) %>
            <% if @aid_application.error_message?(:phone_number, :twilio_phone_number_invalid) || @aid_application.confirmed_invalid_phone_number? %>
              <label class="checkbox">
                <%= f.check_box(:confirmed_invalid_phone_number) %>
                <%= t('.contact_information.confirmed_invalid_phone_number') %>
              </label>
              <br>
            <% end %>


            <%= f.cfa_checkbox(:landline, t('.contact_information.landline')) %>
          </div>
        </fieldset>

        <%= f.cfa_input_field(:email, t('.contact_information.email_address'), type: 'email') %>

        <% if @aid_application.error_message?(:email, :mailgun_email_invalid) || @aid_application.confirmed_invalid_email? %>
          <label class="checkbox">
            <%= f.check_box(:confirmed_invalid_email) %>
            <%= t('.contact_information.confirmed_invalid_email') %>
          </label>
        <% end %>

        <hr>

        <div class="additional-information-section">
          <h2><%= t('.additional_information.title') %></h2>
          <%= f.cfa_radio_set(
                :receives_calfresh_or_calworks,
                label_text: t('.additional_information.receives_calfresh_label'),
                help_text: t('.additional_information.receives_calfresh_help_text'),
                collection: [
                  { value: true, label: t('general.affirmative') },
                  { value: false, label: t('general.negative') }
                ],
                layouts: [:inline]
              )
          %>

          <fieldset class="input-group form-group group-of-individual-fields">
            <legend class="spacing-below-15"><strong><%= t('.additional_information.unmet_needs_legend') %></strong>
            </legend>
            <% [
                 { method: :unmet_food, label: t('.additional_information.unmet_needs_food') },
                 { method: :unmet_housing, label: t('.additional_information.unmet_needs_housing') },
                 { method: :unmet_childcare, label: t('.additional_information.unmet_needs_childcare') },
                 { method: :unmet_utilities, label: t('.additional_information.unmet_needs_utilities') },
                 { method: :unmet_transportation, label: t('.additional_information.unmet_needs_transportation') },
                 { method: :unmet_other, label: t('.additional_information.unmet_needs_other') },
               ].each do |item| %>
              <%= f.cfa_checkbox(item[:method], item[:label]) %>
            <% end %>
          </fieldset>

          <fieldset class="input-group form-group">
            <legend class="form-question spacing-below-15"><%= t('.attestation.title') %></legend>
            <p class="text--help"><em><%= t('.attestation.read_to_client') %></em></p>
            <p class="text--body"><%= t('.attestation.statement') %></p>
            <%= f.cfa_checkbox :attestation, t('general.affirmative') %>
          </fieldset>

        </div>
      </div>

      <div class="form-card__footer">
        <% if @aid_application.disbursed? %>
          <p><em>Aid Applications cannot be modified once they have been disbursed.</em></p>
        <% elsif verify_page? %>
          <div class="toolbar">
            <div class="toolbar__left">
              <%= f.button t('general.save_and_exit'), type: 'submit', name: 'form_action', value: 'verify_and_exit', class: 'toolbar__item button' %>
            </div>
            <div class="toolbar__right">
              <%= f.button t('general.continue'), type: 'submit', name: 'form_action', value: 'verify', class: 'button button--primary' %>
            </div>
          </div>
        <% else %>
          <div class="toolbar">
            <div class="toolbar__left">
              <% unless @aid_application.submitted? %>
                <%= link_to t('general.delete_this_application'),
                            organization_aid_application_path(current_organization, current_aid_application),
                            method: :delete,
                            class: "button button--danger",
                            data: { confirm: "Are you sure you want to delete this application?" } %>
              <% end %>
            </div>
            <div class="toolbar__right">
              <% if @aid_application.submitted? %>
                <%= f.button t('general.update'), type: 'submit', class: 'toolbar__item button button--primary' %>
              <% else %>
                <%= f.button t('general.submit'), type: 'submit', name: 'form_action', value: 'submit', data: { disable_with: "Please wait..." }, class: 'toolbar__item button button--primary' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

