<%= render 'aid_applications/navigation' %>

<div class="grid__item width-two-thirds shift-one-sixth">
  <div class="form-card">
    <header class="form-card__header">
      <h1><%= t('general.drai_application') %></h1>
    </header>

    <% if Rails.env.demo? || ActiveModel::Type::Boolean.new.cast(ENV['DEMO_MODE']) %>
      <div class="notice notice--error">
        This site is for demonstration purposes only.
        Do not enter any personal information!
        If you need to submit an application go to <strong><%= link_to 'ca-drai.org', 'https://www.ca-drai.org' %></strong>.
      </div>
    <% end %>

    <%= form_for(@aid_application, url: {action: :update}, builder: DafiFormBuilder, html: { novalidate: 'novalidate' }) do |f| %>
      <div class="form-card__content">

        <h2><%= t('.applicant_information.title') %></h2>
        <%= f.cfa_input_field :name, t('.applicant_information.name') %>
        <%= f.gcf_date_input :birthday, t('.applicant_information.dob'), help_text: 'MM/DD/YYYY'%>

        <fieldset>
          <legend class="spacing-below-15"><em><%= t('.contact_information.optional_questions_prompt') %></em></legend>
          <%= f.cfa_select :preferred_language, t('.applicant_information.preferred_language'), AidApplication::PREFERRED_LANGUAGE_OPTIONS %>
          <%= f.cfa_select :country_of_origin, t('.applicant_information.country_of_origin'), AidApplication::COUNTRY_OF_ORIGIN_OPTIONS %>
          <%= f.cfa_select :sexual_orientation, t('.applicant_information.sexual_orientation'), AidApplication::SEXUAL_ORIENTATION_OPTIONS %>
          <%= f.cfa_select :gender, t('.applicant_information.gender'), AidApplication::GENDER_OPTIONS %>
          <%= f.gcf_collection_check_boxes :racial_ethnic_identity, t('.applicant_information.racial_ethnic_identity'), AidApplication::RACIAL_OR_ETHNIC_IDENTITY_OPTIONS %>
        </fieldset>

        <hr>

        <div class="address" id="address">
          <h2><%= t('.california_address.title') %></h2>
          <p class="text--help"><%= t('.california_address.address_required') %></p>
          <%= f.cfa_input_field :street_address, t('.shared_address.street_address') %>
          <%= f.cfa_input_field :apartment_number, t('.shared_address.apartment_number') %>
          <%= f.cfa_input_field :city, t('.shared_address.city') %>
          <%= f.cfa_input_field :zip_code, t('.shared_address.zip'), classes: ["form-width--zip"] %>

          <% unless @aid_application.allow_mailing_address %>
            <%= f.button type: 'submit', name: 'form_action', value: 'allow_mailing_address', class: 'button button--secondary' do %>
              <span class="icon icon-add" aria-hidden="true"></span> <%= t('.mailing_address.add_mailing_address') %>
            <% end %>
          <% end %>
        </div>
        <hr>

        <% if @aid_application.allow_mailing_address %>
          <div class="mailing-address" id="mailing-address">
            <h2><%= t('.mailing_address.title') %></h2>
            <%= f.cfa_input_field :mailing_street_address, t('.shared_address.street_address') %>
            <%= f.cfa_input_field :mailing_apartment_number, t('.shared_address.apartment_number') %>
            <%= f.cfa_input_field :mailing_city, t('.shared_address.city') %>
            <%= f.cfa_input_field :mailing_state, t('.shared_address.state') %>
            <%= f.cfa_input_field :mailing_zip_code, t('.shared_address.zip'), classes: ["form-width--zip"] %>

            <%= f.button t('.mailing_address.remove_mailing_address'),
                         type: 'submit', name: 'form_action', value: 'remove_mailing_address',
                         class: 'button button--danger',
                         data: { confirm: "Are you sure you want to remove the mailing address?" } %>
            <hr>
          </div>
        <% end %>

        <h2><%= t('.contact_information.title') %></h2>

        <fieldset>
          <legend class="form-question">
            <%= t('.contact_information.preferred_contact_label') %>
          </legend>

          <p class="text--help"><%= t('.contact_information.help_text') %></p>

          <div class="question-with-follow-up">
            <div class="question-with-follow-up__question associated-field-to-disable">
              <%= f.cfa_checkbox(:sms_consent, t('.contact_information.preferred_contact_text'), options: {'data-follow-up' => '#preferred-contact-channel__text'}) %>
            </div>
            <%= f.cfa_checkbox(:email_consent, t('.contact_information.preferred_contact_email')) %>

            <div id="preferred-contact-channel__text" class="question-with-follow-up__follow-up spacing-above-25">
              <p><em><%= t('.contact_information.read_to_client') %></em></p>
              <p><%= t('.contact_information.message_rates_apply') %></p>
            </div>
          </div>
        </fieldset>

        <%= f.cfa_input_field(:phone_number, t('general.phone_number'), options: { type: 'tel', inputmode: 'tel' }, classes: ['spacing-below-0']) %>
        <label class="checkbox checkbox-with-associated-field-to-disable">
          <%= f.check_box(:landline) %>
          <%= t('.contact_information.landline') %>
        </label>

        <br>
        <br>

        <%= f.cfa_input_field(:email, t('.contact_information.email_address'), type: 'email') %>
        <% if @aid_application.errors[:email].include?(I18n.t(MailgunEmailValidator::ERROR_MESSAGE_KEY)) %>
          <label class="checkbox">
            <%= f.check_box(:confirmed_invalid_email) %>
            I have confirmed with the client that their email is recorded correctly. Misspellings and typos will prevent them from receiving benefits.
          </label>
        <% end %>

        <hr>

        <div class="additional-information-section">
          <h2><%= t('.additional_information.title') %></h2>
          <%= f.cfa_radio_set(
                  :receives_calfresh_or_calworks,
                  label_text: t('.additional_information.receives_calfresh_label'),
                  help_text: t('.additional_information.receives_calfresh_help_text'),
                  collection: [
                      {value: true, label: t('general.affirmative')},
                      {value: false, label: t('general.negative')}
                  ],
                  layouts: [:inline]
              )
          %>

          <fieldset class="input-group form-group">
            <legend class="spacing-below-15"><strong><%= t('.additional_information.unmet_needs_legend') %></strong></legend>
            <% [
                   {method: :unmet_food, label: t('.additional_information.unmet_needs_food')},
                   {method: :unmet_housing, label: t('.additional_information.unmet_needs_housing')},
                   {method: :unmet_childcare, label: t('.additional_information.unmet_needs_childcare')},
                   {method: :unmet_utilities, label: t('.additional_information.unmet_needs_utilities')},
                   {method: :unmet_transportation, label: t('.additional_information.unmet_needs_transportation')},
                   {method: :unmet_other, label: t('.additional_information.unmet_needs_other')},

               ].each do |item| %>
              <label class="checkbox">
                <%= f.check_box(item[:method]) %>
                <%= item[:label] %>
              </label>
            <% end %>
          </fieldset>

          <fieldset class="input-group form-group">
            <legend class="form-question spacing-below-15"><%= t('.attestation.title') %></legend>
            <p class="text--help"><em><%= t('.attestation.read_to_client') %></em></p>
            <p class="text--help"><%= t('.attestation.statement') %></p>
            <%= f.cfa_checkbox :attestation, t('general.affirmative') %>
          </fieldset>

        </div>
      </div>

      <div class="form-card__footer">
        <div class="toolbar">
          <div class="toolbar__left">
            <%= link_to t('general.delete_this_application'),
                        organization_aid_application_path(current_organization, current_aid_application),
                        method: :delete,
                        class: "button button--danger",
                        data: { confirm: "Are you sure you want to delete this application?" } %>
          </div>
          <div class="toolbar__right">
            <% if @aid_application.submitted? %>
              <%= f.button t('general.update'), type: 'submit', class: 'toolbar__item button button--primary' %>
            <% else %>
              <%= f.button t('general.submit'), type: 'submit', name: 'form_action', value: 'submit', class: 'toolbar__item button button--primary' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

