<%= render 'shared/tab_navigation' %>

<div class="grid__item width-one-whole">
  <div class="data-table-container">
    <table class="data-table js-sticky-header">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Users</th>
        <th>Applications</th>
      </tr>
      </thead>
      <tbody>
      <% @organizations.each do |organization| %>
        <tr id="<%= dom_id(organization) %>">
          <td><%= organization.id %></td>
          <td><%= link_to organization.name, organization_path(organization) %></td>
          <td><%= organization.users_count %></td>
          <td><%= organization.aid_applications.count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
