<%= render 'aid_applications/navigation' %>

<div class="grid__item width-two-thirds shift-one-sixth">
  <div class="form-card">
    <header class="form-card__header">
      <h1>Determination</h1>
    </header>

    <% if @aid_application.approved? %>
      <p>
        Application was approved on <strong><%= @aid_application.approved_at.to_s(:month_day_year) %></strong>
        by <strong><%= @aid_application.approver.name %></strong>.
      </p>

      <% unless @aid_application.disbursed? %>
        <p><%= link_to "Disburse Payment Card", edit_organization_aid_application_disbursement_path(current_organization, @aid_application) %></p>
      <% end %>
    <% elsif @aid_application.rejected? %>
      <p>
        Application was rejected on <strong><%= @aid_application.rejected_at.to_s(:month_day_year) %></strong>
        by <strong><%= @aid_application.rejecter.name %></strong>.
      </p>
    <% else %>
        <div class="form-card__footer">
          <%= button_to({ action: :approve },
                        method: :put,
                        name: 'form_action',
                        value: 'approve_and_exit',
                        class: "button button--primary") { "Approve and exit" } %>

          <%= button_to({ action: :approve },
                        method: :put,
                        name: 'form_action',
                        value: 'submit',
                        class: "button button--primary") { "Approve and continue to disbursement" } %>
          <br>
          <br>

          <%= button_to({ action: :reject },
                        method: :put,
                        class: "button button--danger",
                        data: { confirm: "Are you sure you want to reject this application?" }) { "Reject application" } %>
          <% end %>
        </div>
    </div>
</div>
