<%= render 'aid_applications/navigation' %>

<div class="grid__item width-two-thirds shift-one-sixth">
  <div class="form-card">
<!--    <header class="form-card__header">-->
<!--      <h1 class="form-card__title">Aid application</h1>-->
<!--    </header>-->

    <%= form_for(@aid_application, url: { action: :update }, builder: DafiFormBuilder) do |f| %>
      <div class="form-card__content">
        <h2>Applicant Information</h2>
        <%= f.fields_for :members do |mf| %>
          <div class="member-fields-<%= mf.index %>">
            <%= mf.cfa_input_field :name, "Full name" %>
            <%= mf.gcf_date_input :birthday, "Date of birth", help_text: 'MM/DD/YYYY'%>

            <fieldset>
              <legend class="spacing-below-15"><em>The following questions are optional for the client to answer. If left blank, they will be recorded as "prefer not to answer".</em></legend>

              <%= mf.cfa_input_field :preferred_language, "Preferred language", optional: "(optional)" %>
              <%= mf.cfa_input_field :country_of_origin, "Country of origin", optional: "(optional)" %>
              <%= mf.cfa_input_field :racial_ethnic_identity, "Racial/ethnic identity", optional: "(optional)" %>
              <%= mf.cfa_input_field :sexual_orientation, "Sexual orientation", optional: "(optional)" %>
              <%= mf.cfa_input_field :gender, "Gender", optional: "(optional)" %>
            </fieldset>
            <% if @aid_application.members.size > 1 %>
              <%= f.button type: 'submit', name: "aid_application[members_attributes][#{mf.index}]_destroy", value: '1', class: 'button button--secondary' do %>
                <span class="icon icon-cancel" aria-hidden="true"></span> Remove Person
              <% end %>
            <% end %>
          </div>

          <hr>
        <% end %>

        <% if @aid_application.members.size < 2 %>
          <%= f.button type: 'submit', name: 'form_action', value: 'add_person', class: 'button button--secondary' do %>
            <span class="icon icon-add" aria-hidden="true"></span> Add a second person
          <% end %>
          <hr>
        <% end %>

        <%= f.cfa_input_field :street_address, "Street Address" %>
        <%= f.cfa_input_field :city, "City" %>
        <%= f.cfa_input_field :zip_code, "ZIP Code" %>

        <hr>

        <%= f.cfa_input_field :phone_number, "Phone Number" %>
        <%= f.cfa_input_field :email, "Email Address" %>
      </div>

      <div class="form-card__footer">
        <div class="toolbar">
          <div class="toolbar__left">
            <%= link_to "Cancel", organization_aid_applications_path(current_organization), class: 'toolbar__item button button--secondary' %>
          </div>
          <div class="toolbar__right">
            <% if @aid_application.submitted? %>
              <%= f.button 'Update', type: 'submit', class: 'toolbar__item button button--primary' %>
            <% else %>
              <%= f.button 'Submit', type: 'submit', name: 'form_action', value: 'submit', class: 'toolbar__item button button--primary' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

