<%= render 'aid_applications/navigation' %>

<div class="grid__item width-two-thirds shift-one-sixth">
  <div class="form-card">
    <!--    <header class="form-card__header">-->
    <!--      <h1 class="form-card__title">Aid application</h1>-->
    <!--    </header>-->

    <%= form_for(@aid_application, url: {action: :update}, builder: DafiFormBuilder, html: { novalidate: 'novalidate' }) do |f| %>
      <div class="form-card__content">
        <h2>Eligibility</h2>
        <%= f.cfa_radio_set(
                :valid_work_authorization,
                label_text: 'Do you currently have a valid document that authorizes you to work in the United States?',
                help_text: 'A valid document includes a Social Security Number card and a work authorization or Employment Authorization Document issued by U.S. Citizenship and Immigration Services.',
                collection: [
                    {value: true, label: "Yes"},
                    {value: false, label: "No"}
                ],
                layouts: [:inline]
            )
        %>

        <fieldset class="input-group form-group">
          <legend class="spacing-below-15"><em>Read the following to the applicant. Check any boxes that apply.</em></legend>
          <% [
                 {method: :covid19_reduced_work_hours, label: "Have you, or other adults in your household who provide income to your household, lost their employment or had their work hours significantly reduced because of the COVID-19 outbreak?"},
                 {method: :covid19_care_facility_closed, label: "Is the care facility, such as a school, childcare facility or other adult living facility, where you usually send your child or other person you care for, closed because of the COVID-19 outbreak?"},
                 {method: :covid19_experiencing_symptoms, label: "Are you or have you experienced symptoms consistent with COVID-19?"},
                 {method: :covid19_underlying_health_condition, label: "Are you at higher risk of serious illness from COVID-19 due to an underlying health condition or age, and therefore unable to work in order to comply with physical distancing?"},
                 {method: :covid19_caregiver, label: "Are you a caregiver to a dependent, such as a child or elderly parent, or a spouse who has or had symptoms consistent with COVID-19, which made you unable to work?"}
             ].each do |item| %>
            <label class="checkbox">
              <%= f.check_box(item[:method]) %>
              <%= item[:label] %>
            </label>
          <% end %>
        </fieldset>

        <hr>

        <h2>Applicant Information</h2>
        <%= f.fields_for :members do |mf| %>
          <div class="member-fields-<%= mf.index %>">
            <%= mf.cfa_input_field :name, "Full name" %>
            <%= mf.gcf_date_input :birthday, "Date of birth", help_text: 'MM/DD/YYYY'%>

            <fieldset>
              <legend class="spacing-below-15"><em>The following questions are optional for the client to answer. If left blank, they will be recorded as "prefer not to answer".</em></legend>

              <%= mf.cfa_input_field :preferred_language, "Preferred language", optional: "(optional)" %>
              <%= mf.cfa_input_field :country_of_origin, "Country of origin", optional: "(optional)" %>
              <%= mf.cfa_input_field :racial_ethnic_identity, "Racial/ethnic identity", optional: "(optional)" %>
              <%= mf.cfa_input_field :sexual_orientation, "Sexual orientation", optional: "(optional)" %>
              <%= mf.cfa_input_field :gender, "Gender", optional: "(optional)" %>
            </fieldset>
            <% if @aid_application.members.size > 1 %>
              <%= f.button type: 'submit', name: "aid_application[members_attributes][#{mf.index}]_destroy", value: '1', class: 'button button--secondary' do %>
                <span class="icon icon-cancel" aria-hidden="true"></span> Remove Person
              <% end %>
            <% end %>
          </div>

          <hr>
        <% end %>

        <% if @aid_application.members.size < 2 %>
          <%= f.button type: 'submit', name: 'form_action', value: 'add_person', class: 'button button--secondary' do %>
            <span class="icon icon-add" aria-hidden="true"></span> Add a second person
          <% end %>
          <hr>
        <% end %>

        <h2>California address</h2>
        <p class="text--help">An address is required. Homeless clients can use a shelter or other address.</p>
        <%= f.cfa_input_field :street_address, "Street Address" %>
        <%= f.cfa_input_field :city, "City" %>
        <%= f.cfa_input_field :zip_code, "ZIP Code", classes: ["form-width--zip"] %>

        <hr>

        <h2>Contact information</h2>
        <p class="text--help">The applicant will be sent their Unique ID number and activation number.</p>
        <div class="question-with-follow-up">
          <div class="question-with-follow-up__question">
            <fieldset class="form-group">
              <%= f.cfa_radio_set(:preferred_contact_channel, label_text: "How would they like to be sent this?", collection: [
                  {value: 'text', label: 'Text message', input_html: {'data-follow-up' => '#preferred-contact-channel__text'}},
                  {value: 'voice', label: 'Automated phone call', input_html: {'data-follow-up' => '#preferred-contact-channel__voice'}},
                  {value: 'email', label: 'Email', input_html: {'data-follow-up' => '#preferred-contact-channel__email'}},
              ]) %>
            </fieldset>
          </div>

          <div id="preferred-contact-channel__text" class="question-with-follow-up__follow-up">
            <p><em>Read the following to the applicant:</em></p>
            <p>Message and data rates may apply. You will be able to opt out by texting STOP at any time or texting HELP for more information. You will receive 2 messages per application.</p>
            <%= f.cfa_input_field(:text_phone_number, "Phone number", options: { type: 'tel', inputmode: 'tel' }) %>
          </div>
          <div id="preferred-contact-channel__voice" class="question-with-follow-up__follow-up">
            <%= f.cfa_input_field(:voice_phone_number, "Phone number", options: { type: 'tel', inputmode: 'tel' }) %>
          </div>
          <div id="preferred-contact-channel__email" class="question-with-follow-up__follow-up">
            <%= f.cfa_input_field(:email, "Email address", type: 'email') %>
          </div>
        </div>

        <hr>

        <div class="additional-information-section">
          <h2>Additional Information</h2>
          <%= f.cfa_radio_set(
                  :receives_calfresh_or_calworks,
                  label_text: 'Is anyone in the household currently receiving CalFresh or CalWORKs benefits?',
                  help_text: 'A household is defined as individuals who live and purchase and prepare meals together.',
                  collection: [
                      {value: true, label: "Yes"},
                      {value: false, label: "No"}
                  ],
                  layouts: [:inline]
              )
          %>

          <fieldset class="input-group form-group">
            <legend class="spacing-below-15"><strong>What unmet needs does the applicant have?</strong></legend>
            <% [
                   {method: :unmet_food, label: "Food"},
                   {method: :unmet_housing, label: "Housing (i.e. difficulty paying rent or mortgage)"},
                   {method: :unmet_childcare, label: "Childcare"},
                   {method: :unmet_utilities, label: "Utilities"},
                   {method: :unmet_transportation, label: "Transportation"},
                   {method: :unmet_other, label: "Other unmet needs"},

               ].each do |item| %>
              <label class="checkbox">
                <%= f.check_box(item[:method]) %>
                <%= item[:label] %>
              </label>
            <% end %>
          </fieldset>

      </div>
      </div>

      <div class="form-card__footer">
        <div class="toolbar">
          <div class="toolbar__left">
            <%= link_to "Cancel", organization_aid_applications_path(current_organization), class: 'toolbar__item button button--secondary' %>
          </div>
          <div class="toolbar__right">
            <% if @aid_application.submitted? %>
              <%= f.button 'Update', type: 'submit', class: 'toolbar__item button button--primary' %>
            <% else %>
              <%= f.button 'Submit', type: 'submit', name: 'form_action', value: 'submit', class: 'toolbar__item button button--primary' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

