<!DOCTYPE html>
<html>
  <head>
    <title>Dafi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="page-wrapper">
      <%= render 'shared/alerts' %>
      <%= render 'shared/header' %>

      <div class="grid">
        <div class="grid__item width-one-half shift-one-fourth">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
